[submodule ".registry"]
	path = .registry
	url = https://github.com/johanreventlow/johanreventlow.r-universe.dev
	branch = HEAD
[submodule "BFHcharts"]
	path = BFHcharts
	url = https://github.com/johanreventlow/BFHcharts
[submodule "BFHllm"]
	path = BFHllm
	url = https://github.com/johanreventlow/BFHllm
[submodule "BFHtheme"]
	path = BFHtheme
	url = https://github.com/johanreventlow/BFHtheme
